.question {
  width: 100%;
  margin-bottom: 2%;
  border-bottom: 1px dotted black;
}

.sub_divide {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.views_div {
  width: 7%;
  margin-right: 0%;
}

.title_div {
  width: 60%;
  margin-left: 5%;
}

.post_description {
  width: 30%;
  margin-left: 15%;
}

.sub_divide p {
  font-size: 90%;
  margin-bottom: 2%;
  font-family: Arial;
}

.views_div p {
  color: blue;
}

.post_description p {
  color: grey;
}

.post_description p span {
    color: red;
  }

.title_div p {
  font-size: 100%;
  font-family: Arial;
  color: blue;
  cursor: default;
}

.tags {
  margin-bottom: 2%;
  margin-left: 20%;
}

.tag {
  display: inline-block;
  background-color: grey;
  color: white;
  border-radius: 10%;
  padding: 2%;
  font-size: 80%;
  margin-right: 1.5%;
  font-family: Arial;
}

